extends ../layout

block title
  title Přihlásit

block alerts

block content
  .row-fluid
    .span4
      h2 Login with password

      form(action='/login', method='post')
        mixin alerts
        mixin csrf
        #login
          label(for='username') Login
          input(type='text', name='username')
        #password
          label(for='password') Password
          input(type='password', name='password')
        #submit
          input(type='submit', value='Login')

    .span4
      h2 One click login

    .span4
      h2 Register

