extends ../layout

block content
  .hero-unit
    h1 Hravost o.<span style="font-size:50%">&nbsp;</span>s.
    hr
    p Podporujeme volnočasové aktivity
    p Organizujeme a zajišťujeme akce pro členy a další zájemce
    hr
    p <a class="btn btn-primary btn-large">více o sdružení »</a>

  .row-fluid
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p <a class="btn" href="#">View details »</a>
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p <a class="btn" href="#">View details »</a>
    .span4
      h2 Heading
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      p <a class="btn" href="#">View details »</a>
