extends ../layout

block content
  article
    h1 Prorubky
    .quot
      blockquote(cite='Toulky Orlickem se Slávkem Klecandrem a Orlickým týdeníkem, kalendář, 2010') .
        Tvrdě se prorubávalo v&nbsp;orlickém kraji za dávných časů.
        Lesy bez konce mýtili stateční mužové v&nbsp;dobách kolonizace kraje,
        později orlickohorští skláři a&nbsp;nakonec i&nbsp;rolníci, aby&nbsp;získali
        nějaký ten kus půdy k&nbsp;obdělávání...
      .source(title='Toulky Orlickem se Slávkem Klecandrem a Orlickým týdeníkem, kalendář, 2010') Toulky&nbsp;Orlickem se&nbsp;Slávkem&nbsp;Klecandrem a&nbsp;Orlickým&nbsp;týdeníkem
