include mixins/scripts
include mixins/inputs
include mixins/menus

!!! 5
html(lang='cs')
  head
    block title
      title= title

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Hravost blog")
    meta(name="author", content="Hravost o.s., Pavel Lang 2012")

    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")

    | <!--[if lt IE 9]>
    |   <script src="/javascripts/html5.js"></script>
    | <![endif]-->

    link(rel='shortcut icon', href='/favicon.ico')
    //-
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#") Hravost o.<small>&nbsp;</small>s.
          mixin configmenu
          mixin usermenu
          .nav-collapse
            ul.nav
              li.active: a(href="/") Hravost
              li: a(href="/about") O sdružení
              li: a(href="/contact") Kontaktujte nás

    .container-fluid
      .row-fluid
        .span10
          .hero-unit
            h1 Hravost o.<span style="font-size:50%">&nbsp;</span>s.
            hr
            p Podporujeme volnočasové aktivity
            p Organizujeme a zajišťujeme akce pro členy a další zájemce
            hr
            p <a class="btn btn-primary btn-large">více o sdružení »</a>

          .row-fluid
            .span4
              h2 Heading
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p <a class="btn" href="#">View details »</a>
            .span4
              h2 Heading
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p <a class="btn" href="#">View details »</a>
            .span4
              h2 Heading
              p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
              p <a class="btn" href="#">View details »</a>

        .span2
        //
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Sidebar
              li.active: a(href="#") Link
              li: a(href="#") Link
              li.nav-header Sidebar
              li: a(href="#") Link
              li: a(href="#") Link
              li: a(href="#") Link
              li.nav-header Sidebar
              li: a(href="#") Link
              li: a(href="#") Link
              li: a(href="#") Link
              li: a(href="#") Link

      hr

      footer
        p © <a href="mailto:webmaster@hravost.org">Hravost o.<span style="font-size:50%">&nbsp;</span>s.</a> 2012

  mixin localscript('site')
  block scripts
    //- script(type='text/javascript', src='/socket.io/socket.io.js')
